{{- with site.Params.profileMode }}
<aside class="profile-sidebar" aria-label="Profile">
  <div class="profile-card">
    {{- with .imageUrl }}
    <img class="profile-card-image" draggable="false" src="{{ . | relURL }}" alt="{{ site.Params.profileMode.imageTitle | default site.Title }}" width="{{ site.Params.profileMode.imageWidth | default 150 }}" height="{{ site.Params.profileMode.imageHeight | default 150 }}">
    {{- end }}
    <h1>{{ .title | default site.Title | markdownify }}</h1>
    {{- with .position }}<p class="profile-card-position">{{ . }}</p>{{- end }}
    {{- with .affiliation }}<p class="profile-card-affiliation">{{ . }}</p>{{- end }}

    {{- partial "social_icons.html" . -}}

    {{- with .buttons }}
    <nav class="buttons" aria-label="Profile sections">
      {{- range . }}
      <a class="button" href="{{ trim .url " " }}" title="{{ .name }}">
        <span class="button-inner">{{ .name }}</span>
      </a>
      {{- end }}
    </nav>
    {{- end }}
  </div>
</aside>
{{- end }}
